@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./font-icons');
@import url('./font-face');

* {
	scroll-behavior: smooth;
}

html {
	height: 100%;
}

body {
	min-width: 375px;
	color: #cfcfcf;
	font-size: 12px;
	font-family: Gilroy, Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 auto;
	overflow-x: hidden;
	background: linear-gradient(90deg, #211f20 0%, #44403f 100%);
}
.container {
	max-width: 1390px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* .img-wrap {
	overflow: hidden;
}

.img-wrap > source,
.img-wrap > img {
	display: block;

	width: 100%;
	height: 100%;

	object-fit: contain;
} */

.h2,
.h3 {
	font-weight: 700;
	color: var(--accent-color-light);
}

.h2 {
	font-size: 20px;
	text-transform: uppercase;
}

.h3 {
	font-size: 20px;
}

@media screen and (min-width: 1199.98px) {
	.h2 {
		font-size: 32px;
	}
}